@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: lightgray;
}

header {
    background-color: #949494;
}

.fa-bars {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    background-color: #303030;
    cursor: pointer;
}

.fa-bars:hover {
    color: #000;
    background-color: #fff;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

menu {
    display: none;
}

.open {
    display: block;
}

menu > ul {
    list-style: none;
}

menu a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-top: 2px solid gray;
    background-color: #575757;
    transition: 0.2s;
}

menu a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto 0;
    background-color: #fff;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}